

.card{
    margin: 12px 20px;
    border-radius: 12px !important;
    position: sticky !important; 
    top: 0;
}

.card-text{
    font-size: small;
}

.btn{
    width: 80%;
    margin: 8px 12px;
    border-radius: 24px !important;
    
}

.btn-primary{
    color: black !important;
    background-color: white !important;
}

.agreement{
    font-size: smaller !important;
    margin-left: 18px;
    margin-bottom: 24px;
    
}

a {
    text-decoration: none !important;
}
