.tweet-box{
    display: flex;
    padding: 12px;
}

.content-box{
    padding: 0 12px 12px 12px;

    
}
.tweet-text{
    font-size: smaller;
    
 
}
.tweet-footer{
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    
    
}

img{
    border-radius: 65%;
    
}